:root {
   --main-colour: rgb(152, 146, 255)
}

body{
   margin: 0; 
   padding: 0;
}

.container {
   height: auto;
   width: 100%;
}

header{
   background-color: var(--main-colour);
   height: 7vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.div-container{
   display: flex; 
   flex-direction: row;
   justify-content: space-evenly;
}

.area{
   height: 70vh;
   width: 25vw;
   background-color: rgb(224, 222, 246);
   display: flex; 
   flex-direction: column;
   border-radius: 20px;
   overflow: hidden;
}

.text{
   background-color: var(--main-colour);
   text-align: center;
}

.div-button{
   display: flex;
   justify-content: end;
   margin: 3% 7%;
}

.add{
   width: 8%;
   height: 6vh;
   background-color: rgb(237, 238, 252);
   border-radius: 6px;
}

.pop-overlay{
   position: fixed;
}

.pop{
   position: fixed;
   background-color: rgb(235, 188, 185);
   top: 50%;
   left: 50%;
   height: 56%;
   width: 23%;
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 2%;

   transform: translate(-50%, -50%);
}

.select-menu{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding-right: 5%;
}

#select{
   background-color: white;
   margin: 0%;
   width: 100%;
   align-items: center;
   justify-items: center;
   padding: 0%;
   position: relative;
}

.submit{
   align-self: end;
   margin-top: 4vh;
   background-color: rgb(237, 238, 252);
   border-radius: 6px;
}

#select h2{
   margin: 0px;
   padding: 2%;
}

#select h4{
   padding: 4% 2%;
   margin: 0%;
   font-size: larger;
}

#select h4:hover{
   background-color: rgb(224, 224, 224);
}

#drop-down{
   position: absolute;
   background-color: white;
   width: 100%;
   border: 2px solid black;
   box-sizing: border-box;
   display: none;
}


#task textarea{
   width: 100%;
   align-items: center;
   justify-items: center;
   padding: 2%;
   height: 20vh;
   text-align: left;
   resize: none;
   box-sizing: border-box;
}

#name textarea{
   width: 100%;
   resize: none;
   box-sizing: border-box;
}

.information{
   width: 100%;
}

.show{
   display: block !important;
}

#pop-overlay{
   display: none;
}