*, *::before, *::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   overflow-x: hidden;
   overflow-y: scroll;
   font-size: .95em;
   font-family: Inter, RedactRect, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
   font-feature-settings: "case", "ss01", "ss04";
   color: var(--light-mode-color);
   background-color: var(--light-mode-background);
}

.container {
   position: absolute;
   top: var(--header-height);
   left: 0;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   height: auto;
   width: 100vw;
   min-height: calc(100vh - var(--header-height));
   margin: 0;
   padding-bottom: min(25px, calc(100vh - var(--header-height)));
}

.content {
   display: flex;
   flex-direction: row;
   justify-content: start;
   gap: 25px;

   height: auto;
   width: 70%;
   
   min-height: 100vh;

   padding: 25px;
}

.column {
   position: relative;

   display: flex;
   flex-direction: column;
   flex: 1;

   background-color: red;
}

.item {
   height: 200px;
   width: 100%;

   color: wheat;
   background-color: blue;
}